.header {
  width: 100%;
}

.sidebar {
  margin-top: 38%;
  margin-left: 8%;
  position: absolute;
}

.companylists {
  padding: 5px;
  margin: 50px;
}
.addButton {
  float: right;
}
.company_container {
  margin-bottom: 25px;
}
